# Habilita o modo de reescrita da url
RewriteEngine On
# Define a rota raiz 
RewriteBase /meuappmvc/
# Define uma condição a ser seguida 
RewriteCond %{REQUEST_FILENAME} !-f
# Reescreve a regra
RewriteRule ^(.+)$ public/index.php?controller=$1&action=home [QSA,L]
