{% extends "base.html" %}
{% block title %}Inventário{% endblock %}
{% block content %} 

<body>
    <div class="bg-secondary text-white">
    <h2>Inventário de Celulares</h2>
    <table cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Modelo</th>
        <th>IMEI</th>
    </tr>
    {% for celular in celulares %}
    <tr>
        <td>{{ celular.id }}</td>
        <td>{{ celular.modelo }}</td>
        <td>{{ celular.imei }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</body>
{% endblock %}
